/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
.site-logo {
  display: none;
}
.inner-wrap-header {
  max-width: 100%;
}
.region-header-col-1,
.region-header-col-3 {
  width: 20%;
  float: left;
}
.region-header-col-2 {
  width: 60%;
  float: left;
}
.inner-wrap-breadcrumb {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 5em;
}
.next-previous {
  float: right;
}
img.bylinepic {
  float: right;
  margin: 5px;
}
.site-byline {
  width: 95%;
  margin: auto ;
  float: left;
  border: 1px solid black;
  padding: 7px;
  clear: both;
  margin-top: 5em;
  overflow: auto;
}
.site-byline span {
  overflow: auto;
  font-style: italic;
}
/*style for navbar*/
.my-navbar {
  color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my-navbar li {
  list-style-type: none;
  padding: 0.5em;
}
.my-navbar li:hover {
  background-color: #ccc9c3;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #fffefc;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fffefc;
  font: 100.01%/1 serif;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* responsive/mobile menu*/
/*.rm-desktop ul {
    display: none;
}

/* responsive/mobile menu*/
/*.rm-navbar-max {
    display: none;
}*/
/*style for main*/
.outer-wrap-main {
  background-color: #fffefc;
}
.inner-wrap-main {
  overflow: auto;
  width: 60%;
  margin: auto;
}
.region-main,
.region-sidebar-left,
.region-sidebar-right {
  overflow: auto;
}
.region-main {
  width: 60%;
  float: left;
  overflow: auto;
  display: block;
  padding-left: 20%;
}
.region-main.has-sidebar {
  padding-left: 10%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 60%;
}
.region-sidebar-right,
.region-sidebar-left {
  width: 20%;
  float: left;
}
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  width: 20%;
  float: left;
}
/*style to center flash image (dandelion)*/
.region-flash img {
  margin: auto;
  display: block;
  padding-top: 5em;
}
/*style for portrait*/
.figure {
  float: left;
  clear: both;
}
figcaption {
  font-size: small;
  font-style: italic;
}
.outer-wrap-footer {
  background-color: #ccc9c3;
  margin-top: 10em;
}
.inner-wrap-footer {
  margin: auto;
  width: 70%;
  height: 350px;
}
.footer-column-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.footer-column {
  width: 250px;
  height: 200px;
  padding: 20px;
}
.block.site-footer {
  align-items: center;
  justify-content: center;
  font-size: small;
  height: 120px;
  text-align: center;
}
fieldset {
  width: 80%;
  color: #333333;
}
.route-style .inner-wrap-main {
  width: 80%;
}
.route-style .region-main {
  width: 100%;
  padding: 0;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
@media screen and (max-width: 1132px) {
  .region-header-col-1,
  .region-header-col-3 {
    width: 10%;
  }
  .region-header-col-2 {
    width: 80%;
  }
  .rm-navbar a {
    padding: 0.1em;
    font-size: small;
  }
}
@media screen and (max-width: 696px) {
  .rm-desktop {
    display: none;
  }
  .inner-wrap-main {
    width: 100%;
  }
  .site-byline {
    display: none;
  }
  h1,
  h4 {
    font-size: 100%;
  }
  .region-main,
  .region-sidebar-left,
  .region-sidebar-right {
    display: flex;
    flex-direction: column;
  }
  .region-sidebar-left {
    width: 100%;
  }
  .region-sidebar-right {
    width: 100%;
  }
  .footer-column-wrapper {
    flex-direction: column;
  }
  .footer-column {
    padding: 5px;
    height: auto;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/*Set default variables here for bg color etc from base.less */
/**
 * My own settings, not currently in their own module.
 */
