//Style using vertical grid
// Default grid, change to fit your requirements.
@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;
@gridType:      "float"; // "flex"
// Use % for fluid layout
@totalWidth: 100% / @gridSystemWidth;
@gridSystemWidth: @columns * (@columnWidth + @gutterWidth) * 1px;

.row {
  #desinax-vgrid.row();

  //background-color: #0f0;
  margin-bottom: 12px;
}

.vgrid .inner-wrap {
  @gridImage: "../img/grid_24x30x10-nomargin.png";
  //@gridImage: "../../img/grid_12x60x20-nomargin.png";
  #desinax-vgrid.showGrid(@gridImage, 1100px);

  &.inner-wrap-header{
    #desinax-vgrid.showGrid(@gridImage);
  }
}

.inner-wrap {
  //overflow: auto;
  //width: 60%;
  //argin: auto;
  #desinax-vgrid.grid(1100px); //wrapper for entire grid
  //.inner-wrap-header,
  //.inner-wrap-footer {
    //#desinax-vgrid.grid(100%);
 //}
}

.inner-wrap-header {
  // max-width: 100%;
  #desinax-vgrid.grid(100%);
}

.region-header-col-1,
.region-header-col-3 {
  //width: 20%;
  //float:left;
  #desinax-vgrid.column(7);

}

.region-header-col-2 {
  // width: 60%;
  //float: left;
  #desinax-vgrid.column(10);
  text-align: center;
}

.site-logo {
  display: none;
}

span.site-logo-text a {
  color: #333;
  text-decoration-line: none;
  font-family: cursive;
  font-size: 20px;
}
//style breadcrumbs
.region-breadcrumb {
  #desinax-vgrid.column(@columns);
}

.breadcrumb-list li {
  text-decoration: none;
  list-style-type: none;

}

.breadcrumb-list a {
  text-decoration-line: none;
  position: relative;
  display: block;
  float: left;
  margin-right: 1em;
}

.next-previous {
  float: right;
}

.region-flash {
  #desinax-vgrid.column(@columns);
}

// 2 and 3 column style
.region-main,
.region-sidebar-left,
.region-sidebar-right {
  //overflow: auto
}

.region-main {
  margin-top: (@magicNumber * 5);
  float: left;
  overflow: auto;
  min-height: (@magicNumber * 30);
  //padding-left: 20%;
  #desinax-vgrid.column(@columns * 3/4);
  #desinax-vgrid.push(2);

  &.has-sidebar {
    #desinax-vgrid.push(0);
  }

  &.has-sidebar-right {
    #desinax-vgrid.column(@columns * 3 / 4 - 1);
  }

  &.has-sidebar-left.has-sidebar-right {
    #desinax-vgrid.column(@columns - 10);
  }
}

.region-sidebar-right {
  #desinax-vgrid.push(1);
}

.region-sidebar-right,
.region-sidebar-left {
  #desinax-vgrid.column(@columns * 1 / 4);
}

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
  #desinax-vgrid.column(@columns * 1 / 4 - 1);

}

//Responsive 1, 2, 3 columns//
@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  .region-main {
    #desinax-vgrid.column(@columns);
    margin-left: 2%;
  }

  .region-sidebar-left {
    #desinax-vgrid.column(@columns);
    margin-left: 2%;
  }

  &.has-sidebar-left.has-sidebar-right {
    #desinax-vgrid.column(@columns);
    margin-left: 2%;
  }

  .region-sidebar-left.has-sidebar-right,
  .region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns);
    margin-left: 2%;
  }
}


  @media screen and (max-width: 850px) {
    body {
      font-size: 12px;
    }

  .region-main {
    #desinax-vgrid.column(@columns * 4 / 5);
    margin-left: 2%;
  }

    .region-sidebar-left {
      margin-left: 2%
    }

  .region-main.has-sidebar-right {
    #desinax-vgrid.column(@columns);
    // #desinax-vgrid.push(0);
    margin-left: 2%
  }

  .region-sidebar-right {
    #desinax-vgrid.column(@columns);
    #desinax-vgrid.push(0);
    margin-left: 2%;
    }

  .footer-column {
    margin-left: 2%;
  }
}

/*style for portrait*/
.figure {
  float: left;
  clear: both;
}

figcaption {
  font-size: small;
  font-style: italic;
  margin-bottom: @magicNumber * 2;
}

p {
  margin-bottom: @magicNumber * 2;
}

// style byline
img.bylinepic {
  float: right;
  margin: 5px;
}

.site-byline {
  margin-top: @magicNumber * 2;
  #desinax-vgrid.column(@columns - 1);
  border: 1px solid black;
  padding: 7px;
  overflow: auto;
  span {
    overflow: auto;
    font-style: italic;
  }
}

.outer-wrap-footer {
  background-color: #ccc9c3;
  //margin-top: 10em;
}

.inner-wrap-footer {
  //margin: auto;
  //width: 70%;
  //height: 350px;
}

.footer-column-wrapper {
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  ///justify-content: center;
  //padding-bottom: 10px;
}

.region-footer {
  #desinax-vgrid.push(1);
}

.footer-column {
  //width: 250px;
  //height: 200px;
  //padding: 20px;
  #desinax-vgrid.column(@columns/3);
  //#desinax-vgrid.push(1);
}

.site-footer {
  #desinax-vgrid.column(@columns/3);
  #desinax-vgrid.push(@columns/3);
  text-align: center;
  //align-items: center;
  //justify-content: center;
  // font-size: small;
  // height: 120px;
  // text-align: center;
}

@media screen and (max-width: 600px) {
  .footer-column {
    #desinax-vgrid.column(@columns);
  }
  .site-footer {
    margin-left: 4%;
  }
}
